.footer {
  padding-top: 30px;
  padding-bottom: 30px;

  &__container {
    @include sm {
      display: grid;
      grid-template-columns: 1fr max-content;
      gap: 40px;
    }

    @include lg {
      gap: 72px;
    }
  }

  &__logo {
    margin-bottom: 32px;
    width: 200px;
    height: 32px;

    @include sm {
      margin-bottom: 0;
    }

    @include lg {
      width: 360px;
      height: 56px;
    }
  }

  @include lg {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 52px;
  gap: 16px;

  &__link {
    display: inline-flex;
    width: 36px;
    height: 36px;

    svg {
      transition: fill 0.3s ease-in-out;
    }

    &_youtube {
      &:focus {
        outline: none;
      }

      @include xl {
        &:focus {
          svg {
            outline: 2px solid $black;
            outline-offset: 0.2rem;
            border-radius: 80px;
          }
        }

        &:hover {
          svg {
            fill: hsl(2deg 64% 47%);
          }
        }
      }
    }

    &_tg {
      &:focus {
        outline: none;
      }

      @include xl {
        &:focus {
          svg {
            outline: 2px solid $black;
            outline-offset: 0.2rem;
            border-radius: 80px;
          }
        }

        &:hover {
          svg {
            fill: hsl(200deg 100% 40%);
          }
        }
      }
    }

    @include lg {
      width: 50px;
      height: 50px;
    }
  }

  @include sm {
    margin-bottom: 0;
  }

  @include lg {
    gap: 36px;
  }
}

.developers {
  margin-bottom: 52px;

  &__item:not(:last-child) {
    margin-bottom: 19px;
  }

  &__link {
    @include xl {
      transition: color 0.3s ease-in-out;

      &:focus {
        outline: 2px solid $black;
        outline-offset: 0.1rem;
      }

      &:hover {
        color: $white;
      }
    }
  }

  @include sm {
    order: 2;
    margin-bottom: 0;
  }
}
