.nav {
  &__list {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    display: none;
    overflow-y: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: $white;
    background-color: $black;
    gap: 8px;

    @include lg {
      padding-top: 146px;
      padding-bottom: 146px;
    }

    @include xl {
      position: static;
      display: flex;
      align-items: center;
      padding: 0;
      height: auto;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;

      @include xl {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: 15px;
    border-radius: 80px;
    padding: 0 5px;
    font-weight: 1000;
    font-size: 16px;
    line-height: 1;
    white-space: nowrap;

    &_active {
      color: $orange;
      pointer-events: none;

      @include xl {
        color: $white;
        background-color: $orange;
      }
    }

    &:focus:not(:hover) {
      @include lg {
        outline: 2px solid $orange;
      }

      @include xl {
        color: $white;
        background-color: $orange;
      }
    }

    &:hover {
      @include lg {
        color: $orange;
      }
    }

    &:active {
      @include xl {
        color: $white;
      }
    }

    @include xl {
      border: 2px solid $orange;
      border-radius: 80px;
      padding: 15px 28px;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
  }

  &__burger {
    display: block;
    width: 36px;
    height: 36px;
    background-image: url("../img/burger.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &_active {
      background-image: url("../img/closed.svg");
    }

    @include lg {
      width: 50px;
      height: 50px;
    }

    @include xl {
      display: none;
    }
  }
}
