$orange: hsl(40deg 100% 51%);
$black: hsl(0deg 0% 0%);
$white: hsl(0deg 0% 100%);
$gray: hsl(0deg 0% 76%);

@mixin sm {
  @media (min-width: 540px) {
    @content;
  }
}

@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (min-width: 1240px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1600px) {
    @content;
  }
}
